<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
	package="org.battleship" android:versionCode="1" android:versionName="1.0">
	<uses-sdk android:minSdkVersion="8" />
	<uses-permission android:name="android.permission.INTERNET"></uses-permission>

	<application android:label="@string/app_name" android:icon="@drawable/ship"
		android:enabled="true">
		<activity android:name=".activities.BattleShipActivity"
			android:label="@string/app_name">
			<intent-filter>
				<action android:name="android.intent.action.MAIN" />
				<category android:name="android.intent.category.LAUNCHER" />
			</intent-filter>
		</activity>
		<activity android:name=".activities.LoginActivity">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="org.battleship.views.VIEW_LOGIN"></action>
			</intent-filter>
		</activity>
		<activity android:name=".activities.ParticipantsActivity">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="org.battleship.views.VIEW_PARTICIPANTS" />
			</intent-filter>
		</activity>
		<activity android:name=".activities.GameActivity">
			<intent-filter>
				<category android:name="android.intent.category.DEFAULT" />
				<action android:name="org.battleship.views.VIEW_START_WAR"></action>
			</intent-filter>
		</activity>
		<service android:name=".services.ParticipantsSyncAdapterService">
			<!-- <intent-filter> -->
			<!-- <action android:name="android.content.SyncAdapter" /> -->
			<!-- </intent-filter> -->
		</service>
		<service android:name=".services.ParticipantsService"></service>
		<provider android:name=".providers.BattleShipProvider" 
		android:authorities="org.battleship.battleshipprovider" android:multiprocess="true"></provider>

	</application>
</manifest>